<div class="container">

  <h1>ngx-uc examples</h1>

  <p>Bellow follows some examples of the ngx-uc components usage.</p>

  <nav>
    <ul>
      <li>
        <a routerLink="zoom-view" routerLinkActive="active">uc-zoom-view</a>
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

  <hr>

  Houses by the sea photo by <a href="https://www.pexels.com/pt-br/@frans-van-heerden-201846?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels"
              target="_blank">Frans Van Heerden</a> at
  <a href="https://www.pexels.com/pt-br/foto/casas-de-cores-variadas-ao-lado-do-corpo-d-agua-632522/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels"
     target="_blank">Pexels</a> &loz; Circuit board photo by
  <a href="https://www.pexels.com/pt-br/@waterhouse?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels" target="_blank">Jeremy Waterhouse</a> at
  <a href="https://www.pexels.com/pt-br/foto/placa-de-circuito-verde-e-preta-3665442/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels"
     target="_blank">Pexels</a>

</div>
