<h2>uc-zoom-view component examples</h2>

<h3>Basic usage</h3>

<app-zoom-view-basic></app-zoom-view-basic>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="basicTemplate" [languages]="['html']" ></code></pre>


<h3>Custom css classes</h3>

<p>This approach is useful if you want to have more than one instance of `uc-zoom-component` on the same page but with different appearance.</p>

<app-zoom-view-custom-css></app-zoom-view-custom-css>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="customCssTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="customComponent" [languages]="['typescript']" ></code></pre>

On the general <span style="color: orange">styles.css</span> file of the application:<br>
<pre><code [highlight]="generalStyles" [languages]="['css']" ></code></pre>


<h3>Externalized view</h3>

<app-zoom-view-externalized-view></app-zoom-view-externalized-view>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="externalizedTemplate" [languages]="['html']" ></code></pre>

On the component css:<br>
<pre><code [highlight]="externalizedStyles" [languages]="['css']" ></code></pre>


<h3>Change view position</h3>

<app-zoom-view-position></app-zoom-view-position>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="viewPositionTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="viewPositionComponent" [languages]="['typescript']" ></code></pre>


<h3>Turn the zoom on an off</h3>

<app-zoom-view-turn-on-off></app-zoom-view-turn-on-off>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="turnOnOffTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="turnOnOffComponent" [languages]="['typescript']" ></code></pre>


<h3>Config lens dimensions proportion</h3>

<app-zoom-view-config-lens-dimensions></app-zoom-view-config-lens-dimensions>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="lensDimensionsTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="lensDimensionsComponent" [languages]="['typescript']" ></code></pre>


<h3>Component Events</h3>

<app-zoom-view-events></app-zoom-view-events>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="eventsTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="eventsCode" [languages]="['typescript']" ></code></pre>


<h3>Manual Initialization</h3>

<app-zoom-view-manual-initialization></app-zoom-view-manual-initialization>

<h4>Code:</h4>
On the template:<br>
<pre><code [highlight]="manualInitializationTemplate" [languages]="['html']" ></code></pre>

On the component:<br>
<pre><code [highlight]="manualInitializationCode" [languages]="['typescript']" ></code></pre>

